[submodule "docs/py/Benchmarks/discrete-gaussian-differential-privacy"]
	path = docs/py/Benchmarks/discrete-gaussian-differential-privacy
	url = https://github.com/IBM/discrete-gaussian-differential-privacy/
[submodule "docs/py/Benchmarks/differential-privacy-library"]
	path = docs/py/Benchmarks/differential-privacy-library
	url = https://github.com/IBM/differential-privacy-library/
[submodule "SampCert"]
	path = SampCert
	url = https://github.com/leanprover/SampCert
	branch = v1.1.0