name: 'Build C#'
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: bash scripts/prep.sh
      - run: DAFNY=dafny/dafny LANG=cs bash scripts/build.sh
      - run: build/cs/run.sh
